.heading{
    font-size: 26px;
    width:100%;
    margin:0px;
    box-shadow:5px 5px 5px indigo;
}
.note{
    font-size: 14px ;
    color:teal;
}
.copy_right_footer{
position: fixed;
color:#03ffa2;
bottom:0;
width:100%;
background-color:royalblue;
line-height:3;
text-align:center;
}
canvas{
    border:5px dashed chocolate;
    box-shadow:5px 5px 5px cornflowerblue;
    border-radius:20px;
}